@charset "utf-8";
	.Imagen__x2B__Texto__x2B__Pgina_de_botn
{
	background-image : url(Imagen__x2B__Texto__x2B__Pgina_de_botn.png);
	background-repeat : no-repeat;
}
.Pgina_de_lanzamiento_de_producto_1_
{
	background-image : url(Pgina_de_lanzamiento_de_producto_1_.png);
	background-repeat : no-repeat;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.Pgina_de_texto
{
	background-image : url(Pgina_de_texto.png);
	background-repeat : no-repeat;
}
.Imagen_horizontal__x2B__Pgina_de_texto
{
	background-image : url(Imagen_horizontal__x2B__Pgina_de_texto.png);
	background-repeat : no-repeat;
}
.Pgina_de_lanzamiento_de_producto_2_
{
	background-image : url(Pgina_de_lanzamiento_de_producto_2_.png);
	background-repeat : no-repeat;
}
.Pgina_de_lanzamiento_de_boletn_2_
{
	background-image : url(Pgina_de_lanzamiento_de_boletn_2_.png);
	background-repeat : no-repeat;
}
.Bloques__x2B__Pgina_de_texto
{
	background-image : url(Bloques__x2B__Pgina_de_texto.png);
	background-repeat : no-repeat;
}
.st0
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st1
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st3
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st4
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st5
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st6
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st7
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st8
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st9
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st10
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st11
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.Pgina_de_Ayuda_1_
{
	background-image : url(Pgina_de_Ayuda_1_.png);
	background-repeat : no-repeat;
}
.Pgina_del_producto_principal_1_
{
	background-image : url(Pgina_del_producto_principal_1_.png);
	background-repeat : no-repeat;
}
.Pgina_de_3_pasos
{
	background-image : url(Pgina_de_3_pasos.png);
	background-repeat : no-repeat;
}
.Imagen__x2B__Pgina_de_texto
{
	background-image : url(Imagen__x2B__Pgina_de_texto.png);
	background-repeat : no-repeat;
}
.Pgina_de_inicio_de_bsqueda
{
	background-image : url(Pgina_de_inicio_de_bsqueda.png);
	background-repeat : no-repeat;
}
.Pgina_de_inicio_de_vdeo
{
	background-image : url(Pgina_de_inicio_de_vdeo.png);
	background-repeat : no-repeat;
}
.Pgina_del_producto_principal
{
	background-image : url(Pgina_del_producto_principal.png);
	background-repeat : no-repeat;
}
.Pgina_de_lanzamiento_de_boletn
{
	background-image : url(Pgina_de_lanzamiento_de_boletn.png);
	background-repeat : no-repeat;
}
.Pgina_de_inicio_de_bsqueda_1_
{
	background-image : url(Pgina_de_inicio_de_bsqueda_1_.png);
	background-repeat : no-repeat;
}
.Pgina_de_inicio_de_vdeo_1_
{
	background-image : url(Pgina_de_inicio_de_vdeo_1_.png);
	background-repeat : no-repeat;
}
.Pgina_de_inicio_de_bsqueda_2_
{
	background-image : url(Pgina_de_inicio_de_bsqueda_2_.png);
	background-repeat : no-repeat;
}
.Pgina_de_inicio_de_vdeo_2_
{
	background-image : url(Pgina_de_inicio_de_vdeo_2_.png);
	background-repeat : no-repeat;
}
.Pgina_del_producto_principal_2_
{
	background-image : url(Pgina_del_producto_principal_2_.png);
	background-repeat : no-repeat;
}
.Pgina_de_Ayuda_2_
{
	background-image : url(Pgina_de_Ayuda_2_.png);
	background-repeat : no-repeat;
}
.Pgina_de_3_pasos_1_
{
	background-image : url(Pgina_de_3_pasos_1_.png);
	background-repeat : no-repeat;
}
.Imagen__x2B__Pgina_de_texto_1_
{
	background-image : url(Imagen__x2B__Pgina_de_texto_1_.png);
	background-repeat : no-repeat;
}
.Pgina_de_texto_1_
{
	background-image : url(Pgina_de_texto_1_.png);
	background-repeat : no-repeat;
}
.Bloques__x2B__Pgina_de_texto_1_
{
	background-image : url(Bloques__x2B__Pgina_de_texto_1_.png);
	background-repeat : no-repeat;
}
.Imagen__x2B__Texto__x2B__Pgina_de_botn_2_
{
	background-image : url(Imagen__x2B__Texto__x2B__Pgina_de_botn_2_.png);
	background-repeat : no-repeat;
}
.Imagen_horizontal__x2B__Pgina_de_texto_1_
{
	background-image : url(Imagen_horizontal__x2B__Pgina_de_texto_1_.png);
	background-repeat : no-repeat;
}
.Pgina_de_lanzamiento_de_boletn_1_
{
	background-image : url(Pgina_de_lanzamiento_de_boletn_1_.png);
	background-repeat : no-repeat;
}
.Imagen__x2B__Texto__x2B__Pgina_de_botn_1_
{
	background-image : url(Imagen__x2B__Texto__x2B__Pgina_de_botn_1_.png);
	background-repeat : no-repeat;
}
